<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="/ClientResources">

  <assemblies>
    <!-- This adds the Alloy template assembly to the "default module" -->
    <add assembly="Boost.Seo.Ascend.Playground" />
    <add assembly="SiteAttentionModule" />
  </assemblies>

  <routes>
    <route controllerPrefix="Sa">
    </route>
  </routes>

  <dojoModules>
    <add name="siteattention" path="Scripts" />
  </dojoModules>

  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
    <add name="siteattention.style" path="Styles/SiteAttentionStyle.css" resourceType="Style" />
  </clientResources>

  <clientModule initializer="siteattention.SiteAttentionModule">
    <requiredResources>
      <add name="siteattention.style"/>
    </requiredResources>
  </clientModule>

  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="alloy" path="Scripts" />
    </paths>
  </dojo>
</module>