<?xml version="1.0" encoding="utf-8"?>
<LicenseInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MogulSEOManager" licenseId="52d2aa32-ecd3-461c-a352-232238b36b51" Customer="Marija Jemuovic" VersionNumber="5" CreatedDate="2018-02-23" EPiServerVersion="11" LicenseType="Test" Email="marija.jemuovic@mogul.com">
	<SignHash>h/H8J2lA2/m5EbAfcF7GiSIBQmGPGZnDikZNNXtpet9m2fMrRzlebYBD7sjkiWLdiKivB1IHbpRrx6zczK9GMw==</SignHash>
	<Restrictions>
		<ValidToRestrict to="2018-05-30 00:00:00" />
	</Restrictions>
</LicenseInfo>