<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="/ClientResources" description="SiteAttention adds a simple and intuitive sidebar with tips and a SEO score to help you improve your ranking on search engines, such as Google - All in real-time." tags=" EPiServerModulePackage ThirdPartyAddOn SEO Content SiteAttention " productName="SiteAttention" version="3.2.1.0">
  <assemblies>
    <add assembly="SiteAttentionModule" />
  </assemblies>
  <routes>
    <route controllerPrefix="Sa"></route>
  </routes>
  <dojoModules>
    <add name="siteattention" path="Scripts" />
  </dojoModules>
  <clientResources>
    <add name="siteattention.style" path="Styles/SiteAttentionStyle.css" resourceType="Style" />
  </clientResources>
  <clientModule initializer="siteattention.SiteAttentionModule">
    <requiredResources>
      <add name="siteattention.style" />
    </requiredResources>
  </clientModule>
</module>